* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}


header {
  text-align: center;
}

header>p {
  margin-top: 20px;
  color: rgb(153, 152, 152);
  font-size: 18px;
}


main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 120px;
}

.changelog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: -90px;
  margin-left: 50px;
}


.changelog>ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
}


.changelog>.separator {
  content: '';
  width: 2px;
  height:53vh;
  background-color: black;
  position: absolute;
  left: 45%;
  margin-left: 12px;
  margin-bottom: 125px;
}

.dates {
  color: rgb(202, 202, 202);
  font-weight: bold;
}

.projects {
  font-weight: bold;
}

.changelog>ul>li {
  display: flex;
  width: 100%;
  gap: 20px;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
}

li:nth-child(1) {
  margin-left: 2px;
}

li:nth-child(2),
li:nth-child(3),
li:nth-child(4),
li:nth-child(5),
li:nth-child(6) {
  margin-left: 21px;
}

li:nth-child(7) {
  margin-left: 30px;
}


button {
  width: 250px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: black;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-top: 85px;
  cursor: pointer;
}


/* Responsive */
@media (max-width: 1024px) {

  .changelog {
    margin-left: 0;
  }


  .separator {
    margin-left: 1px;
  }

  .changelog>ul>li {
    gap: 15px;
  }
}

@media (max-width: 768px) {

  .changelog {
    margin-right: 20px;
  }


  .separator{
    margin-left: 7px;
  }

  .changelog>ul>li {
    gap: 10px;
  }

  .changelog>ul>li>.projects {
    font-size: 14px;
  }

}

@media (max-width: 640px) {

  .changelog {
    margin-right: 20px;
    width: 100%;
  }

  .changelog .circle {
    margin-left: 2px;
  }

  .separator {
    margin-left: 8px;
  }
}





@media (max-width: 480px) {

  .changelog {
    margin-right: 20px;
    width: 100%;
  }

  .changelog>ul::before {
    margin-left: 3px;
  }


  .changelog>ul>li {
    gap: 5px;
  }

  .changelog>ul>li>.projects {
    font-size: 12px;
  }

  button {
    width: 200px;
    padding: 10px;
    font-size: 14px;
  }
}